*{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    height: 600px;
}

.slider{
    overflow: hidden;
}

.slider figure{
    width: 500%;
    position: relative;
    margin: 0px;
    left: 0px;
    animation: 20s sliderShow infinite;
}

.slider figure img{
    width: 20%;
    float: left;
}

@keyframes sliderShow{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }    
}